<<<<<<< HEAD
*,
::before,
::after {
    box-sizing: border-box;
}


html {
    font-family: "Open Sans", sans-serif;
    color: #666666;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
=======
*,
::before,
::after {
    box-sizing: border-box;
}


html {
    font-family: "Open Sans", sans-serif;
    color: #666666;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
>>>>>>> 4207ed5fa6a3ca8033102f8715f5ef40cbb7a398
}