*, ::before, ::after {
    box-sizing: border-box;
}


html {
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}
